<div class="text-center">
    <% if current_user %>

    <%= render "partials/sidebar"%>

    <% else %>
    <div class="card mx-4 mx-md-5 shadow-5-strong py-5" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-warning p-3"> please sign_in/Log_in </h1>
                    <span class="badge text-bg-primary"><%= link_to 'Signup', '/signup'%></span><br>
                    <span class="badge text-bg-primary"> <%= link_to 'Login', '/login'%></span>
                </div>
            </div>
        </div>
        <% end %>
    </div>